@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
        display: none;
    }
}

td .fc-day-today {
    background: #3788d826 !important;
}
